<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Logout</title>
    <link rel="stylesheet" href="/style/logout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <h2>JOURNEY-GINIE</h2>
            <ul>
                <li><a href="/admin/adhome">
                        <i class="fa-solid fa-table-columns icons"></i>Dashboard</a></li>
                <li><a href="/admin/adbook">
                        <i class="fa-solid fa-receipt icons"></i>Bookings</a></li>
                <li><a href="/admin/adcust">
                        <i class="fa-solid fa-user icons"></i>Customers</a></li>
                <li><a href="/admin/addest">
                        <i class="fa-solid fa-plane-departure icons"></i>Destinations</a></li>
                <li><a href="#">
                        <i class="fa-solid fa-plane-departure icons"></i>Destination_place</a></li>
                <li><a href="/admin/adtour">
                        <i class="fa-solid fa-truck-plane icons"></i>Tours</a></li>
                <li><a href="#">
                        <i class="fa-solid fa-gears icons"></i>Settings</a></li>
                <li><a href="/admin/logout">
                        <i class="fa-solid fa-right-from-bracket icons"></i>Logout</a></li>
            </ul>
        </aside>
        <main class="content">
            <div class="logout-container">
                <div class="logout-box">
                    <h2>Logout</h2>
                    <p>Are you sure you want to logout?</p>
                    <div class="logout-buttons">
                        <a href="login.html" class="btn logout-btn">Yes, Logout</a>
                        <a href="admin-dashboard.html" class="btn cancel-btn">Cancel</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>