body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #d3e7fa, #80befd);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.payment-container {
    background: white;
    color: #004080;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 10px;
    text-align: left;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #004080;
    border-radius: 5px;
    font-size: 16px;
}

.row {
    display: flex;
    gap: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2234fa;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #003366;
}

.secure-text {
    font-size: 12px;
    margin-top: 10px;
    color: #0066cc;
}
