<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey Ginnie - Trip Details</title>
    <link rel="stylesheet" href="/style/pdp.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">Journey Ginnie</div>
            <ul class="nav-links">
                <li><a href="/customer/home">Home</a></li>
                <li><a href="#trips">Trips</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="trip-details">
        <div class="trip-image">
            <img src="https://wallpaper.dog/large/10909872.jpg" alt="Trip Image">
        </div>
        <div class="trip-info">
            <h1 data-th-text="${destination_place.placeDescription}"></h1>
            <!-- <p class="price" data-th-text="|&#8377; ${destination_place.price} per person|"></p> -->
            <h4 data-th-text="${destination_place.placeName}"></h4>
            <button class="book-now">Book Now</button>
        </div>
    </section>
    
    <footer class="footer">
    <p>&copy; 2025 Journey Ginnie. All rights reserved.</p>
    </footer>
</body>
</html>
